@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
* {
  font-family: "Raleway", sans-serif;
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.player {
  border-radius: 24px;
  max-height: 500px;
  height: 50vh;
  max-width: 500px;
  width: calc(500px - 16px * 2);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 5fr 1fr;
      grid-template-rows: 1fr 5fr 1fr;
  margin: 16px;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 4px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 10px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 4px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 10px 0 rgba(0, 0, 0, 0.06);
}

.player .player-title {
  border-radius: 24px 24px 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f9a825;
  color: white;
}

.player .player-lyrics {
  overflow: scroll;
  padding: 0 32px;
  background-color: white;
  -webkit-transition: background-color 500ms ease;
  transition: background-color 500ms ease;
}

.player .player-lyrics .player-lyrics-line {
  font-size: 16px;
  color: black;
}

.player .player-lyrics .player-lyrics-line:first-child {
  padding-top: 50%;
}

.player .player-lyrics .player-lyrics-line:last-child {
  padding-bottom: 50%;
}

.player .player-lyrics .current {
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
  color: #f9a825;
  font-size: 32px;
}

.player .player-controls {
  border-radius: 0 0 24px 24px;
  background-color: #f9a825;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.5fr 6fr 3fr;
      grid-template-columns: 1.5fr 6fr 3fr;
  place-items: center;
}

.player .player-controls div {
  height: 48px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.player .player-controls i {
  font-size: 16px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.player .player-controls input,
.player .player-controls button {
  outline: none;
  cursor: pointer;
}

.player .player-controls input[type="range"] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 6px;
  width: 100%;
  background-color: #eee;
  -webkit-transition: background-color 250ms ease-in-out, height 250ms ease-in-out;
  transition: background-color 250ms ease-in-out, height 250ms ease-in-out;
  border-radius: 100px;
}

.player .player-controls input[type="range"]:hover {
  height: 8px;
  background-color: #ddd;
}

.player .player-controls input[type="range"]:active {
  height: 8px;
  background-color: #fff;
}

.player .player-controls input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  height: 15px;
  width: 15px;
  background-color: #feedd3;
  -webkit-transition: background-color 250ms ease-in-out, height 250ms ease-in-out, width 250ms ease-in-out;
  transition: background-color 250ms ease-in-out, height 250ms ease-in-out, width 250ms ease-in-out;
  border-radius: 100%;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 4px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 10px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 4px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 10px 0 rgba(0, 0, 0, 0.06);
  border: none;
}

.player .player-controls input[type="range"]::-webkit-slider-thumb:hover {
  background-color: #fcdaa1;
  height: 20px;
  width: 20px;
}

.player .player-controls input[type="range"]::-webkit-slider-thumb:active {
  background-color: #fef7ec;
  height: 20px;
  width: 20px;
}

.player .player-controls button {
  background-color: #eeeeee;
  height: 38px;
  width: 38px;
  padding: 2px;
  border-radius: 100px;
  border: none;
  -webkit-transition: background-color 250ms ease-in-out, -webkit-box-shadow 250ms ease-in-out;
  transition: background-color 250ms ease-in-out, -webkit-box-shadow 250ms ease-in-out;
  transition: box-shadow 250ms ease-in-out, background-color 250ms ease-in-out;
  transition: box-shadow 250ms ease-in-out, background-color 250ms ease-in-out, -webkit-box-shadow 250ms ease-in-out;
}

.player .player-controls button:hover {
  background-color: #dddddd;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 4px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 10px 0 rgba(0, 0, 0, 0.06), 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 4px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 10px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 4px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 10px 0 rgba(0, 0, 0, 0.06), 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 4px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 10px 0 rgba(0, 0, 0, 0.06);
}

.player .player-controls button:active {
  background-color: #ffffff;
}

.player .player-controls .player-play_pause.playing .play {
  display: none;
}

.player .player-controls .player-play_pause.paused .pause {
  display: none;
}

.player .player-controls .player-seek {
  padding-right: 8px;
  width: 100%;
}

.player .player-controls .player-seek input[type="range"] {
  width: 100%;
}

.player .player-controls .player-volume {
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
}

.player .player-controls .player-volume input[type="range"] {
  width: 100%;
}

.player .player-controls .player-volume i {
  padding-left: 8px;
}

.player .player-controls .player-volume :last-child {
  display: none;
}

.player .player-controls .player-volume.zero :nth-last-child(2) {
  display: none;
}

.player .player-controls .player-volume.zero :last-child {
  display: block;
}

.player ::-webkit-scrollbar {
  display: none;
}

@media only screen and (max-width: 500px) {
  .player {
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 0;
    height: 50vh;
    width: 100%;
    margin-top: 0;
  }
  .player .player-title {
    border-radius: 0;
  }
  .player .player-controls {
    background-color: #f9a825;
    border-radius: 0;
  }
}

.player.base .player-lyrics {
  -webkit-transition: background-color 50ms ease;
  transition: background-color 50ms ease;
  background-color: #feedd3;
}

.player:-webkit-full-screen {
  border-radius: 0;
}

.player:-moz-full-screen {
  border-radius: 0;
}

.player:-ms-fullscreen {
  border-radius: 0;
}

.player:fullscreen {
  border-radius: 0;
}

.player:-webkit-full-screen .player-title {
  border-radius: 0;
}

.player:-moz-full-screen .player-title {
  border-radius: 0;
}

.player:-ms-fullscreen .player-title {
  border-radius: 0;
}

.player:fullscreen .player-title {
  border-radius: 0;
}

.player:-webkit-full-screen .player-controls {
  border-radius: 0;
}

.player:-moz-full-screen .player-controls {
  border-radius: 0;
}

.player:-ms-fullscreen .player-controls {
  border-radius: 0;
}

.player:fullscreen .player-controls {
  border-radius: 0;
}

.player:-webkit-full-screen .player-lyrics {
  padding: 5vw;
}

.player:-moz-full-screen .player-lyrics {
  padding: 5vw;
}

.player:-ms-fullscreen .player-lyrics {
  padding: 5vw;
}

.player:fullscreen .player-lyrics {
  padding: 5vw;
}

.player:-webkit-full-screen .player-lyrics .player-lyrics-line {
  font-size: 5vh;
}

.player:-moz-full-screen .player-lyrics .player-lyrics-line {
  font-size: 5vh;
}

.player:-ms-fullscreen .player-lyrics .player-lyrics-line {
  font-size: 5vh;
}

.player:fullscreen .player-lyrics .player-lyrics-line {
  font-size: 5vh;
}

.song-list {
  width: calc(500px - 16px * 2);
  max-width: 800px;
}

@media only screen and (max-width: 500px) {
  .song-list {
    margin: 0 16px;
    width: calc(100vw - 16px * 2);
  }
}

.song-list .song {
  cursor: pointer;
  margin: 16px 0;
  -webkit-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 4px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 10px 0 rgba(0, 0, 0, 0.06);
          box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 4px 5px 0 rgba(0, 0, 0, 0.07), 0 1px 10px 0 rgba(0, 0, 0, 0.06);
  padding: 8px;
  border-radius: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 5fr 1fr;
      grid-template-columns: 1fr 5fr 1fr;
  background-color: white;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}

.song-list .song * {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.song-list .song .song-index {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.song-list .song .song-title {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
      align-content: center;
  white-space: nowrap;
  overflow: hidden;
}

.song-list .song .song-play {
  padding: 8px;
  background-color: white;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: color 250ms ease-in-out;
  transition: color 250ms ease-in-out;
  border-radius: 100px;
}

.song-list .song .song-play:hover {
  color: #f9a825;
}

.song-list .song:hover {
  background-color: #feedd3;
}
/*# sourceMappingURL=styles.css.map */