@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

$feliOrange: #f9a825;
$box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.1), 0 4px 5px 0 rgba(0, 0, 0, 0.07),
    0 1px 10px 0 rgba(0, 0, 0, 0.06);
$player-width: calc(500px - 16px * 2);

* {
    font-family: "Raleway", sans-serif;

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    display: grid;
    place-items: center;
}

.player {
    $border-radius: 24px;
    // box-shadow: $box-shadow;
    border-radius: $border-radius;
    max-height: 500px;
    height: 50vh;
    max-width: 500px;
    width: $player-width;
    // width: 300px;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    // background-color: #eee;
    margin: 16px;
    box-shadow: $box-shadow;

    .player-title {
        // height: 48px;
        border-radius: $border-radius $border-radius 0 0;

        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $feliOrange;
        color: white;
    }
    .player-lyrics {
        overflow: scroll;
        padding: 0 32px;
        background-color: white;
        transition: background-color 500ms ease;

        .player-lyrics-line {
            font-size: 16px;
            color: black;
        }
        .player-lyrics-line:first-child {
            padding-top: 50%;
        }
        .player-lyrics-line:last-child {
            padding-bottom: 50%;
        }
        .current {
            transition: color 150ms ease-in-out;
            color: $feliOrange;
            font-size: 32px;
        }
    }
    .player-controls {
        // height: 48px;
        border-radius: 0 0 $border-radius $border-radius;
        background-color: $feliOrange;
        display: grid;
        grid-template-columns: 1.5fr 6fr 3fr;
        place-items: center;
        div {
            height: 48px;
            display: grid;
            place-items: center;
        }
        i {
            font-size: 16px;
            display: grid;
            place-items: center;
        }
        input,
        button {
            outline: none;
            cursor: pointer;
        }
        input[type="range"] {
            appearance: none;
            height: 6px;
            width: 100%;
            background-color: #eee;
            transition: background-color 250ms ease-in-out,
                height 250ms ease-in-out;
            border-radius: 100px;
        }
        input[type="range"]:hover {
            height: 8px;
            background-color: #ddd;
        }
        input[type="range"]:active {
            height: 8px;
            background-color: #fff;
        }

        input[type="range"]::-webkit-slider-thumb {
            appearance: none;
            height: 15px;
            width: 15px;
            background-color: lighten($feliOrange, 35%);
            transition: background-color 250ms ease-in-out,
                height 250ms ease-in-out, width 250ms ease-in-out;
            border-radius: 100%;
            box-shadow: $box-shadow;
            border: none;
        }
        input[type="range"]::-webkit-slider-thumb:hover {
            background-color: lighten($feliOrange, 25%);
            height: 20px;
            width: 20px;
        }
        input[type="range"]::-webkit-slider-thumb:active {
            background-color: lighten($feliOrange, 40%);
            height: 20px;
            width: 20px;
        }
        button {
            background-color: #eeeeee;
            height: 38px;
            width: 38px;
            padding: 2px;
            border-radius: 100px;
            border: none;
            transition: box-shadow 250ms ease-in-out,
                background-color 250ms ease-in-out;
        }
        button:hover {
            background-color: #dddddd;
            box-shadow: $box-shadow, $box-shadow;
        }
        button:active {
            background-color: #ffffff;
        }
        .player-play_pause {
            .play {
            }
            .pause {
            }
        }
        .player-play_pause.playing {
            .play {
                display: none;
            }
        }
        .player-play_pause.paused {
            .pause {
                display: none;
            }
        }
        .player-seek {
            padding-right: 8px;

            width: 100%;
            input[type="range"] {
                width: 100%;
            }
        }
        .player-volume {
            padding-left: 8px;
            padding-right: 8px;

            width: 100%;
            display: grid;
            grid-template-columns: 3fr 1fr;

            input[type="range"] {
                width: 100%;
            }
            i {
                padding-left: 8px;
            }
            :nth-last-child(2) {
            }
            :last-child {
                display: none;
            }
        }
        .player-volume.zero {
            :nth-last-child(2) {
                display: none;
            }
            :last-child {
                display: block;
            }
        }
    }
    ::-webkit-scrollbar {
        display: none;
    }
    @media only screen and (max-width: 500px) {
        box-shadow: none;
        border-radius: 0;
        height: 50vh;
        width: 100%;
        margin-top: 0;
        .player-title {
            border-radius: 0;
        }
        .player-controls {
            background-color: $feliOrange;
            border-radius: 0;
        }
    }
}
.player.base {
    .player-lyrics {
        transition: background-color 50ms ease;
        background-color: lighten($feliOrange, 35%);
    }
}

.song-list {
    width: $player-width;
    max-width: 800px;
    // margin: 0 64px;
    @media only screen and (max-width: 500px) {
        margin: 0 16px;
        width: calc(100vw - 16px * 2);
    }
    .song {
        cursor: pointer;
        margin: 16px 0;
        box-shadow: $box-shadow;
        padding: 8px;
        border-radius: 100px;
        display: grid;
        grid-template-columns: 1fr 5fr 1fr;
        background-color: white;
        transition: background-color 250ms ease-in-out;
        * {
            user-select: none;
        }
        .song-index {
            display: grid;
            place-items: center;
        }
        .song-title {
            display: grid;

            align-content: center;
            white-space: nowrap;
            overflow: hidden;
        }
        .song-play {
            padding: 8px;
            background-color: white;
            border: none;
            outline: none;
            cursor: pointer;
            transition: color 250ms ease-in-out;
            border-radius: 100px;
        }
        .song-play:hover {
            color: $feliOrange;
        }
    }
    .song:hover {
        background-color: lighten($feliOrange, 35%);
    }
}
